#albumDetail-editHeader {
    float: right;
}
#albumDetail
{
    height: 340px;
}

#albumDetail .left {
    float: left;
}

#albumDetail .right {
    margin-left: 340px;
}


#albumDetail-title {
    font-weight: bold;
    font-size: 200%;
}

.albumDetail-block {
    margin-bottom: 10px;
    border-bottom: 1px solid #D3D3D3;
    padding: 20px;
}

.albumDetail-block:last-child {
    border-bottom: none;
}

.albumCover-large {
    padding: 10px;
    background-color: #FFF0F5;
}

#albumDetail-song-list {
    width: 80%;
}

#cart-add-button {
    padding-left: 45px;
    background:url("/Content/cart.png") 3px center no-repeat #FF4500;
}

#albumDetail-Description {
    padding: 10px 40px;
}

