@using RockRecord.Models
@using PagedList
@using PagedList.Mvc

@model IEnumerable<Album>

@{
    ViewBag.Title = "搜尋" + Request.RequestContext.RouteData.Values["keyWord"].ToString();
}

@section header{
    @Styles.Render("~/Content/Search.css")
}

@{
    string keyWord=Request.RequestContext.RouteData.Values["keyWord"].ToString();
    int count =(int)ViewData["ResultCount"];
}
<h2>
     搜尋關鍵字<span class="keyWord">@keyWord</span>共@(count)個搜尋結果
</h2>
<div>
    @Html.Partial("AlbumList",Model)
</div>







