#profile-edit textarea {
    width: 350px;
    height: 300px;
    font-size: small;
}

.profile-edit-photo {
    height: 100px;
}

.profile-edit-photo-left {
    float: left;
}


.profile-edit-photo-right {
    margin-left: 130px;
}

.profile-edit-photo-left img {
    border: 1px solid #D3D3D3;
    padding: 5px;
}