@model RockRecord.Models.OrderHeader
@{
    ViewBag.Title = "完成訂單";
}
@Html.Partial("OrderNavigator")
<h2>訂單送出成功</h2>

<p>
    您的訂單編號為@(ViewData["OrderId"].ToString()),已將您的訂單資訊寄至您的信箱@(User.Identity.Name)
</p>