@using PagedList
@using PagedList.Mvc
@using RockRecord.Helper;
@model IPagedList<RockRecord.Models.Album>

@{
    ViewBag.Title = ViewData["Artist"].ToString() + "的所有作品";
}
<h2>@(ViewData["Artist"].ToString())的所有作品</h2>

<div class="display-block">
    @Html.Partial("AlbumList",Model)
</div>


