@using RockRecord.Helper
@model List<RockRecord.Models.Album> 


@foreach (var album in Model)
 {
    <li class="recommandtionItem" style="top:0px;">
        @Html.AlbumCover(album.Id, 120)
        @Html.AlbumTitle(album)

        @Html.DisplayFor(model => album.Rating)
       <span class="label">(@(album.Reviews.Count))</span>
    </li>
}