@using RockRecord.Helper

<ul>
    <li>
        @Html.MenuItem("編輯個人資料", "Edit","Member")
    </li>
    <li>
        @Html.MenuItem("我評論過的唱片","ReviewHistory","Member")
    </li>
    <li>
        @Html.MenuItem("訂單資訊", "OrderHistory","Member")
    </li>
 </ul>