@using PagedList
@using PagedList.Mvc
@using RockRecord.Helper;
@model IEnumerable<RockRecord.Models.Album>

<div class="list">
    @foreach (var item in Model)
    {
        @Html.Partial("AlbumListItem", item)
    }
</div>
@Html.Partial("Pager",(IPagedList)Model)
