
<div id="dialog" style="display:none">
    <div>
        <p class="loadContent" style="display:none;">
            請稍候.....
            <img class="ajaxLoader" src="~/Content/ajaxLoader.gif" />
        </p>
        <p class="message"></p>
        <div class="buttonBar">
            <button class="cancelButton">取消</button>
            <button class="submitButton">確定</button>
        </div>
    </div>
</div>