@model SelectList
@{
    string query = ViewData["Query"].ToString();
}
<!--ViewData["Query"]為下拉式選單選取後重新導向的選取值的參數名稱-->
   <script type="text/javascript">
       $(function () {
           $('select#filter').selectRedirect('@query');
       });
   </script>
<span class="label">分類篩選:</span>
@Html.DropDownList("filter",Model,"全部")