@{
    ViewBag.Title = "NotAuthorization";
}

<p class="error-message">
    @if (ViewData["errorMessage"] == null)
    {
        @:您沒有權限拜訪該頁面
    }else{
        @ViewData["errorMessage"].ToString()
    }
</p>
