@model SelectList



   <script type="text/javascript">
       $(function () {
           $('select#sortSelect').selectRedirect('sort');
       });
   </script>

<span class="label">排序方式:</span>
@Html.DropDownList("sortSelect",Model)