@using RockRecord.Helper

<ul>
    <li>
        @Html.MenuItem("唱片管理","Album","Manage")
    </li>
    <li>
        @Html.MenuItem("藝術家管理","Artist","Manage")
    </li>
    <li>
        @Html.MenuItem("曲風管理","Genre","Manage")
    </li>
    <li>
        @Html.MenuItem("訂單管理","Order","Manage")
    </li>
</ul>