@model IEnumerable<RockRecord.Models.OrderHeader>
@section header{
    @Scripts.Render("~/Scripts/manageOrder.js")
}
@{
    ViewBag.Title = "訂單管理";
}
@if(TempData["deletedName"]!=null){
    <div class="success">
        訂單編號@(TempData["deletedName"].ToString())已成功被刪除
    </div>
}
<h2>訂單管理</h2>
<div class="hasMenuContent">
    <div class="menu">
        @Html.Partial("ManageMenu")
    </div>
    <div class="content">
        <div class="display-block">
            @Html.Partial("OrderList",ViewData)
        </div>
    </div>
</div>


@Html.Partial("Dialog")