@using RockRecord.Helper
@using RockRecord.Models;
@model List<RockRecord.Models.CartItem>

@{
    ViewBag.Title = "購物車";
}
@section header{
    @Styles.Render("/Content/CartList.css")
    @Scripts.Render("/Scripts/cartList.js")
}
<h2>購物車</h2>
<div id="cartContent">
    <div id="errorMessageContent"></div>
    @if (Session["CartItems"] != null && (Session["CartItems"] as List<CartItem>).Count() >0)
    {
        @Html.Partial("CartList",Model)
    }else{
        <p class="notContent">您的購物車目前沒有任何商品</p>
    }
</div>