@using PagedList
@using PagedList.Mvc
@using RockRecord.Helper;
@model IEnumerable<RockRecord.Models.Album>
@{
    ViewBag.Title = ViewData["Genre"].ToString();
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/app/front/controllers/genreMenuController.js"></script>
    <script type="text/javascript" src="~/Scripts/app/front/controllers/albumListController.js"></script>
}

@section header{
    <style type="text/css">
        .genre-header 
         {
             min-height: 50px;
             width: 100%;
         }

         .genre-header-right {
             float: right;
         }
        .hasMenuContent .content {
            min-height: 400px;
        }
    </style>
}
<h2 class="headerTitle">@ViewData["Genre"].ToString()</h2>
<div>
    <div class="genre-header">
        <div class="genre-header-right">
            @Html.Action("AlbumSortSelect","Album", Request.RequestContext.RouteData.Values)
        </div>
    </div>
    <div class="hasMenuContent">
        <div ng-controller="genreMenuController" class="menu">
            <h4>唱片分類</h4>
            <ul ng-repeat="item in genres track by $index">
                <li>
                    <a ng-href="/Genre/Albums/{{item.Id}}">
                        {{item.Name}}
                    </a>
                </li>
            </ul>
        </div>
    <div class="content">
   </div>
</div>
</div>



